* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
}

html,
body {
  height: 100%;
  background-image: url(../components/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}
@font-face {
  font-family: atop;
  src: url(../components/fonts/Atop-R99O3.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
