@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper{
background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  margin-top: -100px;
  animation: fadeIn 1s ease;
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  text-align: center;
  padding: 3rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: atop;
  -webkit-text-stroke: .2px black;
  color: white; 
  border-radius: 15px;
}
.description{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  background-color: white;
  padding:  1rem;
  border-radius: 15px;

}

.pokemonCardContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pokemonCard {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1);
  border: 2px solid #f8bbd0;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(135deg, #fce4ec, #f8bbd0);
  background-origin: border-box;
  background-clip: content-box, border-box;

  width: 200px;
  height: 300px;
}

.pokemonCard:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.pokemonImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.pokemonImage:hover {
  transform: scale(1.1);
}
.refreshButton{
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 100px;
}